.navbar{
    
    background-color: rgb(3, 28, 112);
    width: 100%;
    float: left;
    margin: auto;
    position: relative;
    
    
}


.navbar-nav{
    
    display: inline-block;
    text-align: center;
    justify-content: center;
    margin: auto;
    list-style: none;
    
}

.navbar-item{
    
    margin: 5px;
    display: inline;
    position: relative;
    
}

.navbar-brand{
    margin-left: 2%;
    display: inline;
    position: fixed;
    color: white;
}

.nav-link{

    display: inline;
    color: white;
}